@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lexend', cursive;
    position: relative;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    overflow: hidden;
}

main {
    width: 90vw;
    max-width: 1200px;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}

:root {
    --el-color-primary: #4b0082;
    --el-color-primary-light-3: #6a2a8c;
    --el-color-primary-dark-2: #3d0066;
    --el-color-success: #67C23A;
    --el-color-warning: #3c91e6;
    --el-color-error: #F56C6C;
    --el-color-info: #909399;
    --pink: #ff81d7;
    --hot-pink: #f02ac4;
    --logo: #9b4dca;
    --light-purple: #d5a1ea;
    --dark-gray: rgb(75, 75, 75);
}

.el-button {
    background-color: #4b0082;
    border-color: #3d0066;
    color: white;
    font-family: "Quicksand", sans-serif;
}

.el-button:hover {
    background-color: #3d0066;
    border-color: #3d0066;
}

.el-button:focus {
    box-shadow: 0 0 0 0.2rem #6a2a8c;
}

.page {
    padding: 20px;
    margin: 0 auto;
    max-width: 1250px;
    background-color: #fff;
    border-radius: 8px;
}

.el-collapse {
    --el-collapse-header-bg-color: #f4f4f4;
    border-bottom: none;
}

.el-collapse-item__wrap {
    background-color: #f4f4f4;
    margin-bottom: -30px;
    border-bottom: none;
}

.el-collapse-item__header {
    font-family: inherit !important;
    font-weight: 300;
    font-size: 15px;
    color: #6b6b6b;
    border-bottom: none;
}

.el-button--success {
    background-color: #333;
    border-color: #333;
    color: white;
}

.el-button--success:hover {
    background-color: #242424;
    border-color: #242424;
}

.el-button--success:focus {
    box-shadow: 0 0 0 0.2rem rgba(190, 108, 245, 0.5);
}

.el-button--danger {
    background-color: var(--dark-gray);
    border-color: var(--dark-gray);
    color: white;
}

.el-button--danger:hover {
    background-color: #f44336;
    border-color: #f44336;
}

.el-button--danger:focus {
    box-shadow: 0 0 0 0.2rem rgba(245, 108, 108, 0.5);
}

.el-button--warning {
    background-color: #409EFF;
    border-color: #409EFF;
    color: white;
}

.el-button--warning:hover {
    background-color: #66b1ff;
    border-color: #66b1ff;
}

.el-button--warning:focus {
    box-shadow: 0 0 0 0.2rem rgba(64, 158, 255, 0.5);
}

.el-button--info {
    background-color: #909399;
    border-color: #909399;
    color: white;
}

.el-button--info:hover {
    background-color: var(--dark-gray);
    border-color: var(--dark-gray);
}

.el-button--info:focus {
    box-shadow: 0 0 0 0.2rem rgba(144, 147, 153, 0.5);
}

.el-input__inner {
    font-family: Quicksand;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.8em;
    color: #333;
    cursor: pointer;
}

.close:hover {
    color: #6a2a8c;
}

.el-button.is-active,
.el-button:focus {
    outline: none;
    box-shadow: none;
}

.slide-up-enter-active,
.slide-up-leave-active {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.slide-up-enter,
.slide-up-leave-to {
    transform: translateY(-20px);
    opacity: 0;
}

.slide-up-enter-to,
.slide-up-leave {
    transform: translateY(0);
    opacity: 1;
}

.el-link:hover {
    text-decoration: none !important;
    border: none !important;
    outline: none !important;
} 

.el-menu--horizontal.el-menu {
    border-bottom: none;
}

.el-message {
    background-color: #333!important;
    border-color: #333 !important;
}

.el-message__content {
    color: #fff !important;
}

.el-input__inner {
    font-weight: 600;
}

.el-textarea__inner {
    font-weight: 400;
}

.el-select-dropdown__item.is-selected {
    color: #444;
    font-weight: 400; 
}